<div class="c-300-600">
    <div class="scores" *ngIf="buzzedTeam && buzzedTeam.length !== 1">
        <a class="unlock" routerLink="join">Unlock</a>
        <div class="team" *ngFor="let team of teams" ngClass="{{team.state}}">
            <div class="avatar" ngClass="{{team.state}}"><span class="helper"></span><img src="{{team.avatarUrl}}">
            </div>
            <div class="name">{{team.name}}<span class="score">{{team.points}}</span></div>
        </div>
    </div>
    <div class="magictime puffIn" *ngIf="buzzedTeam && buzzedTeam.length === 1">
        <div class="buzzedAvatar"><img src="{{buzzedTeam[0].avatarUrl}}"></div>
        <div class="buzzedName">{{buzzedTeam[0].name}}</div>
        <div class="action">
            <a class="button-inline" (click)="correct()">True</a>
            <a class="button-inline" (click)="wrong()">False</a>
        </div>
    </div>
</div>