.team {
    height: 40px;
}
.name {
    display: block;
    padding: 10px;
    border: solid 2px #F6595D;
    border-radius: 20px;
    margin-top: 30px;
    text-decoration: none;
    color: #F6595D;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

.avatar {
    width: 60px;
    display: inline;
    float: left;
    margin-top: -5px;
    margin-left: -5px;
    border: 2px solid #F6595D;
    background-color: white;
    border-radius: 50%;
    height: 60px;
    background-color: white;
    text-align: center;
}

.avatar.BUZZED {
    background-color: #3cb256;
}

.avatar img {
    vertical-align: middle;
    height: 50px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.score {
    float: right;
    color: black;
    font-weight: bold;
}

.buzzedAvatar {
    margin-top: 40px;
    text-align: center;
}

.buzzedName {
    text-align: center;
    font-size: 28px;
    margin-top: 10px;
    color: #F6595D;
}