.container {
    margin: auto;
    padding-top: 40px;
}

.title {
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 15px;
    background-color: #F6595D;
}
.button {
    display: block;
    padding: 10px;
    border: solid 2px #F6595D;
    border-radius: 8px;
    margin: 40px;
    text-decoration: none;
    color: #F6595D;
    text-align: center;
}